{% if elevate_has_gallery == 'yes' %}
  {% set flag = 0 %}
  {% for images in elevate_images %}
    {% if flag == '0' %}
      <img id="{{ elevate_class }}" src="{{ images.images_url }}" data-zoom-image="{{ images.zoom_image_url }}"/>
      <div id="{{ elevate_class }}_list">
      {% set flag = 1 %}
    {% endif %}
    <a href="#" data-image="{{ images.images_url }}" data-zoom-image="{{ images.zoom_image_url }}">
      <img class="{{ elevate_class }}" src="{{ images.thumbnail }}" />
    </a>
  {% endfor %}
  </div>
{% else %}
  {% for images in elevate_images %}
    <img id="{{ elevate_class }}" src="{{ images.images_url }}" data-zoom-image="{{ images.zoom_image_url }}"/>
  {% endfor %}
{% endif %}
